.row
  .six.columns.margin-bottom-20
    %h1.section-header About Dan
    %p.margin-bottom-20
      From Wikipedia, the free encyclopedia - Daniel Thomas Thorp Jr. (born
      December 17, 1979) is an American born actor from West Virginia. He has
      worked along side of many greats including SJ Smith, T. Newen, L. Smith,
      TL McKoy, and the list goes on.

    %iframe{width: "459", height: "257", src: "https://www.youtube.com/embed/JA_27--bIRo", frameborder: "0", allowFullScreen: true}

  .six.columns
    .row.margin-bottom-20
      .six.columns
        = link_to "facebook", "http://www.facebook.com/ActorDanThorp", class: "facebook"
      .six.columns
        = link_to "twitter", "http://www.twitter.com/danielthorpjr", class: "twitter"
    = image_tag "/images/headshot_cropped.png", alt: "Headshot", class: "margin-bottom-0 block"
    = image_tag "/images/foolforlove_cropped.png", alt: "Headshot", class: "margin-bottom-0 block"
    = image_tag "/images/skippy.png", alt: "Headshot", class: "margin-bottom-0 block"
    = link_to "more photos", "/photos", class: "photo-block"
